h1
{
	font-family: Georgia;
	font-size: 3rem;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}
h2
{
	font-family: Georgia;
	font-size: 10px;
    color: black;
    margin-left: 50px;
    text-align: center;
}
@media (min-width: 401px) {
  header{
    margin: 0 auto;
    width: 400px;
  }
}
p {
	text-align: center;
	text-decoration: none;
    position: absolute;
    top: 23%;
	left: 0;
    line-height: 40px;
    width: 100%;
	font-family: Georgia;
	font-size: 25px;
    color: black;
}
a {
	text-align: center;
	text-decoration: none;
    position: absolute;
    top: 37%;
	left: 0;
    line-height: 40px;
    width: 100%;
	font-family: Georgia;
	font-size: 25px;
    color: black;
}	
form {
	top:45%;
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	font-family: Georgia;
	font-size: 15px;
    color: black;
}
