html
{
  background-image: url("back.jpg");
}
h1
{
  font-family: Georgia, Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}
h4
{
  font-family: Georgia;
  font-size: 10px;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 401px)
{
  header, nav, .nav a
  {
    margin: 0 auto;
    width: 400px;
  }
}
nav
{
float:left;
margin-left: 50px;
}
nav ul
{
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
}
nav a:link,nav a:visited
{
  display: block;
  color: black;
  width: 110px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
nav a:hover, nav a:active
{
  background-color: #ea76bc;
  padding: 15px;
}
nav li
{
  float: left;
}
form
{
  position: absolute;
  right: 35px;
  width: 450px;
  height: 20px;
  float:left;
}
form > input[type=search]
{
  border: 1px solid blue; 
  width: 270px;
  padding: 7px;
  margin: 5px 0 12px 0;
  display: inline;
  background: #f1f1f1;
  color:purple;

} 
form > input[type=submit]
{
  width: 90px;
  padding: 7px;
  margin: 5px 0 12px 0;
  display: inline;
  background: #f1f1f1;
  color:purple;
}
p
{
  display:block;
  font-size: 2rem;
  margin-top: 30px;
  width:100%;
  text-align: center;
  text-decoration: none;
}
div 
{
  margin-right: 10px;
  margin-left: 10px;
}

#outer div ul .nav a 
{
  background-color: none;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 90%;
}

div div li a {
  font-size: 120%;
  color: blue;
}
aside
{
  float:right;
  margin-top: 50px;
  margin-right: 40px;
}

.recomandari {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.recomandari img {
  padding: 30px; 
} 

.container
{
  box-sizing: border-box; 
  padding: 16px;

}

/* Full-width input fields */
input[type=text], select 
{
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus
{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
   .recomend {
     width: 50%;

  }
}
#s
{
  margin-left: 50px;
  padding: 14px 20px;
}
